.advantages
	.container
		h2.item-title Наши преимущества
		.advantages__content.row.no-gutters.justify-content-between
			.advantages__item
				.advantages__icon
					img(src="images/advantages/adv1.png", alt="")
				.advantages__text Квалифицированные специалисты
			.advantages__item
				.advantages__icon
					img(src="images/advantages/adv2.png", alt="")
				.advantages__text Качественный товар
			.advantages__item
				.advantages__icon
					img(src="images/advantages/adv3.png", alt="")
				.advantages__text отлаженная логистика
			.advantages__item
				.advantages__icon
					img(src="images/advantages/adv4.png", alt="")
				.advantages__text Удобные способы оплаты