.catalog.row
	.col-md-6
		a(href="#").catalog__item(style="background-image: url(images/moto.jpg)")
			.catalog__category 
				.catalog__category__name Мотоциклы
				.catalog__category__text.row.no-gutters.align-items-center
					div
						h3 Мотоциклы и квадроциклы
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, eveniet.
	.col-md-6
		a(href="#").catalog__item(style="background-image: url(images/sneg.jpg)")
			.catalog__category 
				.catalog__category__name Снегоходы
	.col-md-6
		a(href="#").catalog__item(style="background-image: url(images/parts.jpg)")
			.catalog__category 
				.catalog__category__name Запчасти
	.col-md-6
		a(href="#").catalog__item(style="background-image: url(images/equip.jpg)")
			.catalog__category 
				.catalog__category__name Экипировка  