footer.footer
	.container
		.row.no-gutters.justify-content-between
			.footer__logo
				a(href="#").footer__logo__item motocityk
			.footer__item
				.footer__title О КОМПАНИИ
				ul.footer__menu
					li
						a(href="#") ДЕЯТЕЛЬНОСТЬ
					li
						a(href="#") СТРУКТУРА
					li
						a(href="#") ВАКАНСИИ
			.footer__item
				.footer__title ПРАЙС
				ul.footer__menu
					li
						a(href="#") СКАЧАТЬ ПРАЙС
			.footer__item
				.footer__title НОВОСТИ
				ul.footer__menu
					li
						a(href="#") НОВОСТИ КОМПАНИИ
					li
						a(href="#") АКЦИИ
			.footer__item
				.footer__title ИНФОРМАЦИЯ
				ul.footer__menu
					li
						a(href="#") ПОЛЕЗНАЯ ИНФОРМАЦИЯ
					li
						a(href="#") СЕРТИФИКАТЫ
					li
						a(href="#") ОПЛАТА И ДОСТАВКА
			.footer__item
				.footer__title КОНТАКТЫ
				ul.footer__menu
					li
						a(href="#") МОСКВА
					li
						a(href="#") ЯРОСЛАВЛЬ
					li
						a(href="#") Н.НОВГОРОД
					li
						a(href="#") ДМИТРОВ
					li
						a(href="#") МОСКВА
					li
						a(href="#") ЗАДАТЬ ВОПРОС
		.footer__bottom
			.footer__social
				a(href="#").footer__social__item
					i.fa.fa-instagram
				a(href="#").footer__social__item
					i.fa.fa-youtube-play
				a(href="#").footer__social__item
					i.fa.fa-vk
			.footer__payment
				a(href="#").footer__payment__item
					img(src="images/payment/g2apay.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/visa.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/mastercard.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/yandex.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/webmoney.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/paypal.png", alt="")
				a(href="#").footer__payment__item
					img(src="images/payment/qiwi.png", alt="")