header.header
	.top-panel
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.location 
					i.fa.fa-map-marker
					a(href="#").top-panel__link.location__btn Москва

					.location__popup
						.location__popup__content
							.location__popup__item
								a(href="#").location__popup__link Город 2
							.location__popup__item
								a(href="#").location__popup__link Город 3
							.location__popup__item
								a(href="#").location__popup__link Город 4
							.location__popup__item
								a(href="#").location__popup__link Город 5
							.location__popup__item
								a(href="#").location__popup__link Город 2
							.location__popup__item
								a(href="#").location__popup__link Город 3
							.location__popup__item
								a(href="#").location__popup__link Город 4
							.location__popup__item
								a(href="#").location__popup__link Город 5
							.location__popup__item
								a(href="#").location__popup__link Город 2
							.location__popup__item
								a(href="#").location__popup__link Город 3
							.location__popup__item
								a(href="#").location__popup__link Город 4
							.location__popup__item
								a(href="#").location__popup__link Город 5
				.profile
					i.fa.fa-user
					a(href="#").top-panel__link Вход
					span.top-panel__delimiter /
					a(href="#").top-panel__link Регистрация
	.header__center
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.logo
					a(href="#").logo__text motocityk
				.header__info
					h4.header__title Время работы:
					.time
						i.fa.fa-clock-o
						.time__item пн-пт 09:00 - 22:00
						.time__item сб-вс 10:00 - 23:00
					.search
						form
							input.search__field(type="text" placeholder="Поиск по товарам, брендам, категориям")
							button.search__btn(type="submit")
								i.fa.fa-search
				.header__contacts
					.phone
						i.fa.fa-phone
						span +380 (96) 000-00-00
					.phone
						i.fa.fa-phone
						span +380 (50) 000-00-00
					.phone
						i.fa.fa-phone
						span +380 (93) 000-00-00
					.social
						a(href="#").social__item
							i.fa.fa-instagram
						a(href="#").social__item
							i.fa.fa-youtube-play
						a(href="#").social__item
							i.fa.fa-vk
	nav.nav
		.container
			.dropdown-toggle
				img(src="images/burger.png", alt="")
			ul.nav__menu
				li
					a(href="#").nav__menu__item главная
				li
					a(href="#").nav__menu__item каталог
					.nav__menu__drop
						.nav__menu__drop__item
							a.nav__menu__drop__title(href="#") Название
							ul.nav__menu__drop__list
								li
									a(href="#") Подпункт 1
								li
									a(href="#")
										span Подпункт 2
										i.fa.fa-angle-right
									ul.nav__menu__drop__subdrop
										li
											a(href="#") Подпункт 1
										li
											a(href="#") Подпункт 2
						.nav__menu__drop__item
							a.nav__menu__drop__title(href="#") Название
							ul.nav__menu__drop__list
								li
									a(href="#") Подпункт 1
								li
									a(href="#") Подпункт 2
				li
					a(href="#").nav__menu__item производители
				li
					a(href="#").nav__menu__item акции и скидки
				li
					a(href="#").nav__menu__item новости
				li
					a(href="#").nav__menu__item обзоры
				li
					a(href="#").nav__menu__item оплата
				li
					a(href="#").nav__menu__item доставка
				li
					a(href="#").nav__menu__item кредит
				li
					a(href="#").nav__menu__item гарантия
				li
					a(href="#").nav__menu__item о компании
				li
					a(href="#").nav__menu__item контакты