.manufacturer
	.container
		h2.item-title.item-title--blue.item-title--manufacturer Производители
		.manufacturer__list
			a(href="#").manufacturer__item
				img(src="images/partners/suzuki.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/cfmoto.png", alt="")
			br
			a(href="#").manufacturer__item
				img(src="images/partners/honda.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/stels.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/kawasaki.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/bse.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/yamaha.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/kayo.png", alt="")
	.advantages
		.container
			h2.item-title Наши преимущества
			.advantages__content.row.no-gutters.justify-content-between
				.advantages__item
					.advantages__icon
						img(src="images/advantages/adv1.png", alt="")
					.advantages__text Квалифицированные специалисты
				.advantages__item
					.advantages__icon
						img(src="images/advantages/adv2.png", alt="")
					.advantages__text Качественный товар
				.advantages__item
					.advantages__icon
						img(src="images/advantages/adv3.png", alt="")
					.advantages__text отлаженная логистика
				.advantages__item
					.advantages__icon
						img(src="images/advantages/adv4.png", alt="")
					.advantages__text Удобные способы оплаты