.map
	.map__item(style="background-image: url(images/map.jpg)")
	.map__info
		.map__info__title Контакты
		.map__info__contact
			.map__info__contact__icon
				img(src="images/phone.png", alt="")
			div +380 (96) 000-00-00
			div +380 (50) 000-00-00
			div +380 (93) 000-00-00
		.map__info__contact
			.map__info__contact__icon
				img(src="images/email.png", alt="")
			div info@y.ru
		.map__info__contact
			.map__info__contact__icon
				img(src="images/gps.png", alt="")
			div г. Москва, ул. Искры, д.31, корп.1
		.map__info__contact.map__info__contact--time
			.map__info__contact__icon
				img(src="images/time.png", alt="")
			div Время работы:
			div ПН-ПТ 09:00 - 22:00
			div СБ-ВС 10:00 - 23:00
		a(href="#").btn.btn-blue.btn-map все склады и офисы