.producer
	.container
		h2.item-title.item-title--blue.item-title--manufacturer Производители
		.manufacturer__list
			a(href="#").manufacturer__item
				img(src="images/partners/suzuki.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/cfmoto.png", alt="")
			br
			a(href="#").manufacturer__item
				img(src="images/partners/honda.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/stels.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/kawasaki.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/bse.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/yamaha.png", alt="")
			a(href="#").manufacturer__item
				img(src="images/partners/kayo.png", alt="")