.sidebar
	.sidebar__catalog
		.sidebar__catalog__title.row.no-gutters.align-items-center.justify-content-between
			.sidebar__catalog__title__text Каталог
			.sidebar__catalog__title__icon
				img(src="images/burger.png", alt="")
		ul.sidebar__catalog__menu
			li
				a(href="#").sidebar__catalog__menu__item
					span.sidebar__catalog__menu__icon
						img(src="images/moto-icon.png", alt="")
					span.sidebar__catalog__menu__name Мотоциклы
					i.fa.fa-angle-right
				ul.sidebar__drop
					li
						a(href="#") Подпункт 1
					li
						a(href="#") Подпункт 2
					li
						a(href="#") Подпункт 3

			li
				a(href="#").sidebar__catalog__menu__item
					span.sidebar__catalog__menu__icon
						img(src="images/sneg-icon.png", alt="")
					span.sidebar__catalog__menu__name Снегоходы
					i.fa.fa-angle-right
			li
				a(href="#").sidebar__catalog__menu__item
					span.sidebar__catalog__menu__icon
						img(src="images/spares-icon.png", alt="")
					span.sidebar__catalog__menu__name Запчасти
					i.fa.fa-angle-right
			li
				a(href="#").sidebar__catalog__menu__item
					span.sidebar__catalog__menu__icon
						img(src="images/equip-icon.png", alt="")
					span.sidebar__catalog__menu__name Экипировка
					i.fa.fa-angle-right
	.sidebar__sale
		a(href="#")
			.sidebar__sale__label Акция
			.sidebar__sale__img(style="background-image: url(images/sale1.jpg)")
			.sidebar__sale__text поступление запчастей на cf-moto
	.sidebar__sale
		a(href="#")
			.sidebar__sale__img(style="background-image: url(images/sale2.jpg)")
			.sidebar__sale__text.sidebar__sale__text--black Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.sidebar__review
		.sidebar__review__title.row.no-gutters.align-items-center.justify-content-between
			.sidebar__review__title__name Последние отзывы
			a(href="#").sidebar__review__title__link Показать все
		.sidebar__review__content
			.sidebar__review__item.row.no-gutters.justify-content-between
				.sidebar__review__item__img
				.sidebar__review__item__info
					.sidebar__review__item__autor
						span.sidebar__review__item__autor__black Alex:
						span.sidebar__review__item__autor__blue Мотор Кавасаки
					.sidebar__review__item__text
						| Все функции и привязка полноценно функционируют. В скором времени будут добавлены функции...
					.sidebar__review__item__date
						span.sidebar__review__item__date__icon
							img(src="images/calendar.png", alt="")
						span 15.09.2017
			.sidebar__review__item.row.no-gutters.justify-content-between
				.sidebar__review__item__img
				.sidebar__review__item__info
					.sidebar__review__item__autor
						span.sidebar__review__item__autor__black Alex:
						span.sidebar__review__item__autor__blue Мотор Кавасаки
					.sidebar__review__item__text
						| Все функции и привязка полноценно функционируют. В скором времени будут добавлены функции...
					.sidebar__review__item__date
						span.sidebar__review__item__date__icon
							img(src="images/calendar.png", alt="")
						span 15.09.2017 