.slider
	.slider__item(style="background-image: url(images/banner.jpg)")
		.container
			.row.no-gutters.align-items-center.slider__descr
				div
					h2.slider__title  Lorem ipsum dolor sit
					.slider__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, accusantium
	.slider__item(style="background-image: url(images/banner.jpg)")
		.container
			.row.no-gutters.align-items-center.slider__descr
				div
					h2.slider__title  Lorem ipsum dolor sit
					.slider__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, accusantium