.social-scroll
	a.social-scroll__btn.row.no-gutters.align-items-center(href="#")
		div
			.social-scroll__icon
				i.fa.fa-shopping-cart
			.social-scroll__count 0
	a.social-scroll__btn.row.no-gutters.align-items-center(href="#")
		div
			.social-scroll__icon
				i.fa.fa-heart-o
			.social-scroll__count 0
	a.social-scroll__btn.row.no-gutters.align-items-center(href="#")
		div
			.social-scroll__icon
				i.fa.fa-bar-chart
			.social-scroll__count 0