.basket {
	margin-top: 55px;

	&__header {
		text-align: center;

		&__title {
			display: inline-block;
			font-size: 30px;
			color: $color-blue;
			text-transform: uppercase;
			font-weight: 700;
			position: relative;

			&:after {
				content: "";
				display: block;
				width: 200px;
				height: 1px;
				background: #e1deda;
				margin: 10px auto;
			}

			@include m991 {
				font-size: 24px;
			}
		}

		&__text {
			font-size: 16px;
			color: #33394b;
			font-weight: 600;

			@include m991 {
				font-size: 14px;
			}
		}

		&__delete {
			position: absolute;
			z-index: 2;
			right: -75px;
			top: -40px;
			width: 18px;
			height: 18px;
			background: url(../images/close.png)no-repeat;
		}
	}

	&__wrapp {
		@include m991 {
			overflow: auto;
		}
	}

	&__content {
		margin-top: 30px;
	}

	&__table {
		width: 100%;

		td {
			vertical-align: middle;
			padding: 5px 0;
		}

		thead {
			font-size: 18px;

			@include m991 {
				font-size: 14px;
			}
		}

		tbody {
			font-size: 18px;

			td {
				border-top: 1px solid #ececec;
				border-bottom: 1px solid #ececec;
				padding: 15px 10px;

				&:first-child {
					border-left: 1px solid #ececec;
				}
				&:last-child {
					border-right: 1px solid #ececec;
				}
			}

			@include m991 {
				font-size: 14px;
			}
		}

		tfoot {
			font-size: 24px;
			font-weight: 600;

			span {
				font-size: 48px;

				@include m991 {
					font-size: 24px;
				}
			}

			td {
				padding: 25px 10px;
				border-bottom: 1px solid #ececec;

				&:first-child {
					text-transform: uppercase;
					border-left: 1px solid #ececec;
				}

				&:last-child {
					text-align: right;
					border-right: 1px solid #ececec;
				}
			}

			@include m991 {
				font-size: 18px;
			}
		}

		@include m991 {
			width: 730px;
		}
	}

	&__footer {
		margin-top: 20px;
		text-align: right;
	}
}

.btn-basket {
	width: 315px;
	padding: 20px 15px;
	font-size: 24px;
	text-transform: uppercase;

	@include m991 {
		width: 240px;
    font-size: 18px;
	}
}