.cabinet {
	margin-top: 55px;

	&__tab {
		margin-top: 40px;
		text-align: center;

		&__item {
			width: 290px;
			margin: 5px;
			font-size: 20px;
			text-transform: uppercase;
			height: 80px;
			line-height: 65px;
			color: #333;
			text-align: center;
			display: inline-block;
			border: 1px solid transparent;
			border-top: 10px solid transparent;
			border-radius: 8px 8px 0 0;

			&:hover,
			&.active {
				border: 1px solid #ededed;
				border-top: 10px solid $color-blue;
			}

			@media (max-width: 1399px) {
				width: 245px;
			}

			@include m1199 {
				font-size: 16px;
				width: 205px;
				height: 65px;
				line-height: 50px;
			}

			@include m991 {
				width: 100%;
				margin: 10px 0;
				line-height: 1;
				height: auto;
				padding: 15px 10px;
				border-radius: 0;
				border: 0 !important; 

				&.active {
					background: $color-blue;
					color: #fff;
				}
			}
		}
	}

	&__content {
		margin-top: 40px;
		padding: 0 100px;

		&__review {
			padding-top: 60px;

			@include m575 {
				padding-top: 20px;
			}
		}

		@include m1199 {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.profile-photo {
	position: relative;

	&__item {
		height: 310px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}

	&__text {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 0;
		width: 100%;
		color: #fff;
		text-align: center;
		padding: 15px;
		text-transform: uppercase;
		font-size: 24px;
		background: rgba(0, 0, 0, 0.75);

		span {
			cursor: pointer;
			border-bottom: 1px solid;
		}

		@include m767 {
			font-size: 16px;
		}
	}

	@include m1199 {
		max-width: 310px;
	}

	@include m767 {
		font-size: 16px;
		margin-bottom: 20px;
	}
}

.form-control {
	display: block;
	width: 100%;
	height: 55px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: $open;
	font-size: 24px;
	color: #333;
	border: 1px solid #c1c1c1;

	@include m991 {
		font-size: 20px;
		height: 45px;
	}

	@include m767 {
		font-size: 18px;
		padding-left: 10px;
		padding-right: 10px;
	}

	@include m575 {
		&--small {
			margin-bottom: 20px;
		}
	}
}

textarea.form-control {
	padding: 10px 30px;
	height: 235px;
	resize: none;

	@include m767 {
		padding: 15px;
		height: 200px;
	}
}

.form-group {
	margin-bottom: 25px;

	&__info {
		font-size: 24px;

		@include m991 {
			font-size: 20px;
		}

		@include m767 {
			font-size: 18px;
		}
	}

	&__col {
		@include m991 {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--single {
		padding-right: 150px;

		@include m991 {
			padding-right: 0;
		}
	}

	&--submit {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

.btn-profile {
	outline: 0;
	border: 0;
	cursor: pointer;
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;

	&--info {
		margin-top: 77px;
		width: 100%;

		@include m767 {
			margin-top: 30px;
		}
	}

	&--center {
		width: 315px;

		@include m991 {
			width: 270px;
		}

		@include m767 {
			width: 240px;
		}
	}

	@include m991 {
		font-size: 20px;
	}

	@include m767 {
		font-size: 18px;
	}
}

.select-profile {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  font-family: $open;
  -webkit-appearance: none;
  background-image: url('../images/select-arrow.png');
  background-position: 98% center;
  background-repeat: no-repeat;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;

  @include m767 {
  	font-size: 16px;
  	padding-left: 15px;
  	padding-right: 15px;
  }
}

.select-profile::-ms-expand {
  display: none;
}

.order-table {
	width: 100%;

	td {
		vertical-align: middle;
	}

	thead {
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;

		td {
			padding: 15px 0;
		}

		@include m1199 {
			font-size: 16px;
		}
	}

	&__title {
		text-align: center;
		cursor: pointer;

		td {
			position: relative;
			background: $color-blue;
			color: #fff;
			padding: 10px 0;
			font-size: 20px;
			border-bottom: 2px solid #fff;

			@include m1199 {
				font-size: 16px;
			}
		}

		&.active {
			.order-show {
				transform: translate(0, -50%) rotate(-90deg);
				color: #353637;
			}
		}
	}

	&__content {
		font-size: 16px;
		opacity: 0;
    visibility: collapse;

    &.is-active {
    	opacity: 1;
    	visibility: visible;
    }

		td {
			padding: 10px;

			&:last-child {
				text-align: center;
			}
		}

		@include m1199 {
			font-size: 14px;
		}
	}

	@include m767 {
		width: 780px;
	}
}

.overflow-table {
	@include m767 {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.order-btn {
	display: block;
	margin: auto;
	width: 125px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;

	&--complete {
		color: #fff;
		background: #289548;
	}

	&--pay {
		color: #333;
		background: #b6d8ee;
	}
}

.order-show {
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 24px;
}

.order-download {
	margin-top: 10px;
	text-align: right;
	font-size: 19px;

	&__btn {
		color: #353637;
	}

	&__text {
		border-bottom: 1px solid;
		display: inline-block;
		vertical-align: middle;
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		position: relative;
		top: 3px;
	}
}