.register {
	margin-top: 50px;
}

.form-title {
	font-size: 24px;
	font-weight: 700;
	color: #7b7a7a;
	text-transform: uppercase;
	margin-bottom: 45px;
	text-align: center;

	@include m991 {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.form-group--register-submit {
	padding: 0 35px;

	@include m991 {
		padding: 0;
	}
}

.form-group__link {
	text-align: center;

	&__item {
		font-size: 24px;
		color: #7b7a7a;
		font-weight: 600;
		border-bottom: 1px solid;

		@include m991 {
			font-size: 20px;
		}
	}
}