extends pug/base

append vars

block content
	include pug/partials/header

	include pug/partials/social

	.content
		.container
			include pug/partials/breadcrumb

			.cabinet
				h1.page-title Личный кабинет
				.cabinet__tab
					a.cabinet__tab__item.active(href="#") Информация
					a.cabinet__tab__item(href="#") Изменение пароля
					a.cabinet__tab__item(href="#") Оформить заказ
					a.cabinet__tab__item(href="#") Оставить отзыв

				.cabinet__content
					.row
						.col-lg-6
							.form-group
								.form-group__info Логин: info@mail.ru
							.form-group
								input.form-control(type="password" placeholder="Текущий пароль")
							.form-group
								input.form-control(type="password" placeholder="Новый пароль")
							.form-group
								input.form-control(type="password" placeholder="Повторить пароль")
							.form-group.form-group--right
								button.btn.btn-blue.btn-profile.btn-profile--center(type="submit") Сохранить
								
	.manufacturer
		include pug/partials/advantages

	include pug/partials/map

	include pug/partials/footer