extends pug/base

append vars

block content
	include pug/partials/header

	include pug/partials/social

	include pug/partials/slider

	.content
		.container
			.row.no-gutters.justify-content-between
				include pug/partials/sidebar

				.content__right
					include pug/partials/catalog

					.tab.row.no-gutters
						a(href="#tab1").tab__item.is-active Рекомендуем
						a(href="#tab2").tab__item Новинки
						a(href="#tab3").tab__item Хит продаж
						a(href="#tab4").tab__item Скидки

					#tab1.tab-pane.is-active
						include pug/partials/products
					#tab2.tab-pane
						include pug/partials/products
					#tab3.tab-pane
						include pug/partials/products
					#tab4.tab-pane
						include pug/partials/products
					
					include pug/partials/text-block

	.manufacturer
		include pug/partials/producer
		include pug/partials/advantages

	include pug/partials/map

	include pug/partials/footer

	include pug/partials/top-btn

	.modal.modal--success#success
		.modal-title Заказ подтверждён
		.modal-text 
			| Мы получили Ваш заказ и обработаем его в ближайшее время – рабочие часы нашего интернет-магазина: будни с 9 до 22 часов, суббота-воскресенье с 10 до 23 часов. Если у Вас возникли дополнительные вопросы, пожалуйста, напишите нам на nfo@y.ru или позвоните по тел. +380 (96) 000-00-00. Ваш 
			b motocityk.
		.modal-status-title Статус выполнения заказа 
		.modal-status-text По мере выполнения заказа информация будет отправляться на nfo@y.ru
