.pagination {
	margin-top: 45px;
	text-align: center;

	&__title {
		font-size: 22px;
		margin-right: 25px;
		display: inline-block;
		vertical-align: middle;

		@include m575 {
			display: none;
		}
	}

	&__pages {
		display: inline-block;
		vertical-align: middle;

		li {
			display: inline-block;
			vertical-align: bottom;
			font-size: 22px;
			margin: 0 3px;

			@include m575 {
				font-size: 18px;
			}
		}

		a{
			display: block;
			color: #000;
			font-size: 25px;
			padding: 3px;
			line-height: 1;

			&:hover {
				background: $color-blue;
				color: #fff;
			}

			@include m575 {
				font-size: 20px;
			}
		}
	}

	&__arrow {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
		width: 13px;
		height: 20px;
		background: url(../images/pag-right.png)no-repeat;
	}
}