// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-blue: #73b4df;
$color-yellow: #ffff00;

// FONTS
$open: 'Open Sans', sans-serif;
